.categories-page .search-input>input {
    color: #263238 !important;
}

.comments textarea {
    min-height: 50px;
}
.comments .form-action {
    padding-top: 15px;
}

.comments .aside-title {
    margin: 20px 10px;
}

.specialist-view .category .item-icon {
    transition: all 0.3s;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 auto;
}

.step-title {
    margin-bottom: 20px;
}

.step-description {
    font-size: 0.8em;
}