/* iCheck plugin
----------------------------------- */
.icheckbox,
.iradio{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url(../images/icons/check-radio.png) no-repeat;
    border: none;
    cursor: pointer;
}
.checkbox.hover {
    cursor: pointer;
}
.icheckbox {
    background-position: 0 0;
}
    .icheckbox.checked {
        background-position: -30px 0;
    }
    .icheckbox.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -90px 0;
    }
.iradio {
    background-position: -120px 0;
}
.iradio.checked {
    background-position: -150px 0;
}
.iradio.disabled {
    background-position: -180px 0;
    cursor: default;
}
.iradio.checked.disabled {
    background-position: -210px 0;
}


/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox {
        background-image: url(../images/icons/check-radio@2x.png);
        -webkit-background-size: 240px 30px;
        background-size: 240px 30px;
    }
}    