/*-----------------------------------------------------------------*/  
/*-- CSS Document --*/
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/  
/*--- Reset Styles ---*/
/*-----------------------------------------------------------------*/  
body, html { margin: 0; padding: 0; outline: none; }
body { background: #fafafa; position: relative; color: #263238; font: 18px/24px 'Open Sans', Arial, Verdana, Tahoma, sans-serif; font-weight: 300; }
h1, h2, h3, h4 { margin: 0; padding: 0; font-weight: normal; }
p { margin: 0; padding: 0; }
img { border: none; outline: none; }
a img { display: block; }
a, a:focus { transition: all 0.3s; color: #4fc3f7; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; color: #4fc3f7; outline: none; }

button { padding: 0; background: transparent; border: none; }
button:focus { outline: none; }
form, input, textarea { margin: 0; padding: 0; outline: none; border: none; border-radius: 0; }
input[type="text"], input[type="email"], input[type="search"], select, textarea { -webkit-appearance: none; font: 18px/24px 'Open Sans', Arial, Verdana, Tahoma, sans-serif; font-weight: 300; color: #263238; resize: none; border: 2px solid #eee; border-radius: 5px; width: 100%; padding: 10px 15px 12px; background: #fff; }
textarea { min-height: 210px; }
input::-webkit-input-placeholder { color: #263238; }
input:-ms-input-placeholder { color: #263238; }
input:-moz-placeholder { opacity: 1; color: #263238; }
input::-moz-placeholder { opacity: 1; color: #263238; }
textarea::-webkit-input-placeholder { color: #263238; }
textarea:-ms-input-placeholder { color: #263238; }
textarea:-moz-placeholder { opacity: 1; color: #263238; }
textarea::-moz-placeholder { opacity: 1; color: #263238; }
.placeholder { color: #263238 !important; }

article, aside, footer, header, nav, section { display: block; }
/*-----------------------------------------------------------------*/  
/*--- Reset List Styles ---*/
/*-----------------------------------------------------------------*/
.category-list, .question-list, .about-list, .main-menu, .log-in { padding: 0; margin: 0; list-style: none; }
/*-----------------------------------------------------------------*/  
/*--- Custom Fonts ---*/
/*-----------------------------------------------------------------*/
.page-title h2, .banner-description .banner-title, .main-section .section-title { font-family: 'Open Sans', Arial, Verdana, Tahoma, sans-serif; font-weight: 700; }
.sidebar aside .aside-title, .category-list .category .item-title, .question .question-header, .question .question-title  { font-family: 'Open Sans', Arial, Verdana, Tahoma, sans-serif; font-weight: 600; }
form .radio-elem label, form .check-elem label, header .main-menu li a, header .log-in li a { font-family: 'Open Sans', Arial, Verdana, Tahoma, sans-serif; font-weight: 300; }
/*-----------------------------------------------------------------*/
/*--- Custom Buttons ---*/
/*-----------------------------------------------------------------*/
#back-to-top { transition: all 0.3s; z-index: 1; color: #7c4dff; border-radius: 25px; height: 50px; width: 50px; border: 2px solid #7c4dff; display: block;  text-align: center; position: fixed; bottom: 100px; right: 20px; padding-top: 9px; }
#back-to-top i { font-size: 18px; line-height: 18px; }
#back-to-top:hover { color: #fff; background: #7c4dff; text-decoration: none; }
/*-----------------------------------*/
.btn-base-container { line-height: 0; text-align: center; }
.btn-base { transition: all 0.3s; line-height: 24px; padding: 11px 25px ; border-radius: 25px; text-align: center; text-transform: uppercase; display: inline-block; color: #7c4dff; border: 2px solid #7c4dff; overflow: hidden; }
.btn-base:hover { color: #fff; background: #7c4dff; text-decoration: none;  }
.btn-base:focus { color: #fff; background: #7c4dff; }
.white-content .btn-base { color: #ffffff; border: 2px solid #ffffff; }
.white-content.purple .btn-base:hover { color: #7c4dff; background: #ffffff; }
.white-content.purple .btn-base:focus { color: #7b4dfe; background: #ffffff; }
.white-content.blue .btn-base:hover { color: #4fc3f7; background: #ffffff; }
.white-content.blue .btn-base:focus { color: #4fc3f7; background: #ffffff; }
/*-----------------------------------------------------------------*/
/*--- Main Styles ---*/
/*-----------------------------------------------------------------*/
#main { min-width: 320px; position: relative; width: 100%; }
/*-----------------------------------------------------------------*/
/*--- Header ---*/
/*-----------------------------------------------------------------*/ 
header { width: 100%; background: #263238; border-bottom: 2px solid #4FC3F7; }
header .container { padding-top: 14px; padding-bottom: 14px; }
header .logo { padding-top: 3px; }
header .btn-base-container, header .main-menu, header .log-in { float: right; padding-left: 50px; }
header .btn-base-container { padding-left: 0; }
header .btn-base-container .btn-base { font-size: 0.778em; line-height: 18px; padding: 9px 20px; border-radius: 20px; color: #4FC3F7; border-color: #4FC3F7; }
header .btn-base-container .btn-base:hover { background: #4FC3F7; color: #fff; }
header .main-menu, header .log-in { font-size: 0; text-align: right; padding-top: 7px; }
header .main-menu li, header .log-in li { display: inline-block; padding-left: 20px; }
header .main-menu li:first-child, header .log-in li:first-child { padding-left: 0; }
header .main-menu li a, header .log-in li a { font-size: 18px; color: #fff; text-transform: uppercase; transition: all 0.3s; }
header .main-menu li.current-menu-item a, header .log-in li.current-menu-item a { color: #4fc3f7; }
header .main-menu li a:hover, header .log-in li a:hover { color: #4fc3f7; text-decoration: none; }
/*-----------------------------------------------------------------*/
/*--- Main Content ---*/
/*-----------------------------------------------------------------*/
.banner { overflow: hidden; max-height: 600px; position: relative; }
.banner img { width: 100%; }
.banner-wrapper { left: 0; right: 0; top: 0; bottom: 0; position: absolute; overflow: hidden; text-align: center; }
.banner-wrapper .container { display: table; height: 100%; }
.banner-description { display: table-cell; vertical-align: middle; }
.banner-description .banner-title { color: #fff; font-size: 1.667em; text-transform: uppercase; line-height: 38px; padding-bottom: 92px; }
.banner-description .banner-title span { display: block; }
.banner-description .search-input { width: 50%; margin: 0 auto; position: relative; }
.search-form .search-input input[type="search"] { border-radius: 25px; background: rgba(255, 255, 255, 0.2); color: #fff; border-color: #fff; padding-left: 25px; padding-right: 65px; }
.search-form .search-input input[type="search"]::-webkit-input-placeholder { color: #fff; }
.search-form .search-input input[type="search"]:-ms-input-placeholder { color: #fff; }
.search-form .search-input input[type="search"]:-moz-placeholder { opacity: 1; color: #fff; }
.search-form .search-input input[type="search"]::-moz-placeholder { opacity: 1; color: #fff; }
.search-form .search-input button { transition: all 0.3s; color: #fff; position: absolute; top:0; right: 0; font-size: 1.111em; border-radius: 25px; width: 50px; height: 50px; line-height: 0; text-align: center; }
.search-form .search-input button:hover { background: #fff; color: #7c4dff; }
/*-----------------------------------*/
.main-section { background: #fafafa; padding-top: 92px; padding-bottom: 100px; }
.main-section .section-header { text-align: center; overflow: hidden; padding-bottom: 50px; }
.main-section .section-title { color: #263238; font-size: 1.667em; text-transform: uppercase; line-height: 38px; }
.main-section .section-title span { border-bottom: 2px solid #7b4dfe; display: inline-block; padding-bottom: 22px; }
.main-section.blue-content .section-title span { border-color: #4fc3f7; }
.main-section.white-content .section-title { color: #ffffff; }
.main-section.white-content .section-title span { border-color: #ffffff; }
/*-----------------------------------*/
.about .about-list { width: 100%; overflow: hidden; }
.about .about-list li .item-icon { color: #4fc3f7; border: 4px solid #4fc3f7; border-radius: 50%; height: 120px; width: 120px; text-align: center; margin: 0 auto; }
.about .about-list li .item-icon i { font-size: 3.333em; line-height: 112px; }
.about .about-list li .item-icon i.fa-question { font-size: 4.444em; }
.about .about-list li .item-icon i.fa-list-alt { padding-top: 2px; }
.about .about-list li .item-icon i.fa-star { font-size: 3.667em; }
.about .about-list li .description { text-align: center; padding-top: 16px; }
/*-----------------------------------*/
.ask { background: #7c4dff; padding-top: 50px; padding-bottom: 50px; text-align: center; }
.ask .ask-wrapper { margin: 0 auto; text-align: center; display: table; }
.ask .section-title { padding-right: 100px; padding-top: 5px; }
.ask .section-title, .ask .btn-base-container { display: inline-block; float: left; }
/*-----------------------------------*/
.popular .btn-base-container { padding-top: 76px; }
.question-list { margin-top: -40px; width: 100%; overflow: hidden; }
.question-list .question:first-child { padding-top: 40px; }
.question:first-child { padding-top: 0; }
.question { padding-top: 40px; }
.question .question-header { padding: 7px 40px 9px 10px; position: relative; border-radius: 5px 5px 0 0; color: #ffffff; background: #bdbdbd; }
.question .question-header .question-action { color: #fff; padding-left: 20px; font-size: 0.778em; line-height: 20px; }
.question .question-header .question-action i { padding-right: 5px; }
.question .question-header .question-action:first-child { padding-left: 0; }
.question .question-header .question-category { transition: all 0.3s; display: block; color: #fff; margin: 5px; position: absolute; top: 0; right: 0; text-align: center; line-height: 30px; width: 30px; height: 30px; border-radius: 50%; }
.question .question-header .question-category .fa-car { font-size: 0.889em; }
.question .question-header .question-category .fa-home { font-size: 1.056em; }
.question .question-header .question-category:hover { background: #fff; color: #bdbdbd; }
.question .question-content { text-decoration: none; padding: 10px 10px 0; }
.question .question-content a { color: #263238; }
.question .question-title { text-decoration: none; color: #263238; font-size: 1.333em; line-height: 30px; }
.question .question-description { padding-top: 15px; }
.question .question-posted { font-size: 0.778em; line-height: 20px; padding-top: 15px; }
.question .question-rating { font-size: 1.286em; text-align: right; padding-top: 10px; }
.question .question-content a:hover { text-decoration: none; color: #bdbdbd; }
.question.recreation .question-header { background: #ffd54f; }
.question.recreation .question-header .question-category:hover { color: #ffd54f; }
.question.recreation .question-content a:hover { color: #ffd54f; }
.question.house .question-header { background: #69f0ae; }
.question.house .question-header .question-category:hover { color: #69f0ae; }
.question.house .question-content a:hover { color: #69f0ae; }
.question.pets .question-header { background: #f48fb1; }
.question.pets .question-header .question-category:hover { color: #f48fb1; }
.question.pets .question-content a:hover { color: #f48fb1; }
.question.cars .question-header { background: #b388ff; }
.question.cars .question-header .question-category:hover { color: #b388ff; }
.question.cars .question-content a:hover { color: #b388ff; }
.question.medicine .question-header { background: #90caf9; }
.question.medicine .question-header .question-category:hover { color: #90caf9; }
.question.medicine .question-content a:hover { color: #90caf9; }
.question.sport .question-header { background: #d4e157; }
.question.sport .question-header .question-category:hover { color: #d4e157; }
.question.sport .question-content a:hover { color: #d4e157; }
.same-question.question-list { margin-top: 0; }
.same-question .question { padding-top: 20px; }
.same-question .question:first-child { padding-top: 0; }
.same-question .question .question-title { font-size: 1em; line-height: 24px; }
/*-----------------------------------*/
.categories { background: #4fc3f7;}
.categories .btn-base-container { padding-top: 76px; }
.category-list { width: 100%; overflow: hidden; }
.category-list .category { transition: all 0.3s; display: block; text-decoration: none; color: #fff; text-align: center; }
.category-list .category .item-icon { transition: all 0.3s; width: 100px; height: 100px; border-radius: 50%; border: 2px solid #fff; margin: 0 auto; }
.category-list .category .item-icon i { font-size: 2.556em; line-height: 96px; }
.category-list .category .item-icon i.fa-home { font-size: 2.778em; }
.category-list .category .item-icon i.fa-car { font-size: 2.000em; }
.category-list .category .item-title { padding-top: 15px; text-transform: uppercase; font-size: 1em; line-height: 24px; }
.category-list .category:hover .item-icon { color: #bdbdbd; background: #fff; }
.category-list .category.recreation:hover .item-icon { color: #ffd54f; }
.category-list .category.house:hover .item-icon { color: #69f0ae; }
.category-list .category.pets:hover .item-icon { color: #f48fb1; }
.category-list .category.cars:hover .item-icon { color: #b388ff; }
.category-list .category.medicine:hover .item-icon { color: #90caf9; }
.category-list .category.sport:hover .item-icon { color: #d4e157; }
/*-----------------------------------*/
.page-title { padding-bottom: 50px; padding-top: 64px; }
.page-title h2 { color: #263238; font-size: 1.667em; text-transform: uppercase; line-height: 38px; }
.page-title span { border-bottom: 2px solid #7b4dfe; display: inline-block; padding-bottom: 22px; }
.page-title .search-form { padding-top: 6px; }
.page-title .search-form .search-input input[type="search"] { border-radius: 25px; background: #fff; border-color: #eee;  }
.page-title .search-form .search-input input[type="search"]::-webkit-input-placeholder { color: #263238; }
.page-title .search-form .search-input input[type="search"]:-ms-input-placeholder { color: #263238; }
.page-title .search-form .search-input input[type="search"]:-moz-placeholder { opacity: 1; color: #263238; }
.page-title .search-form .search-input input[type="search"]::-moz-placeholder { opacity: 1; color: #263238; }
.page-title .search-form .search-input { position: relative; }
.page-title .search-form .search-input button { transition: all 0.3s; color: #eee; position: absolute; top:0; right: 0; font-size: 1.111em; border-radius: 25px; width: 50px; height: 50px; line-height: 0; text-align: center; }
.page-title .search-form .search-input button:hover { background: #eee; color: #7c4dff; }
.page-content { width: 100%; overflow: hidden; padding-bottom: 70px; }
/*-----------------------------------*/
.pagination { padding-top: 50px; margin: 0; width: 100%; overflow: hidden; text-align: center; }
.pagination a { transition: all 0.3s; text-align: center; display: inline-block; margin-left: 5px; line-height: 20px; width: 40px; height: 40px; border-radius: 50%; border: 2px solid #eee; background: #fff; text-decoration: none; color: #263238; padding-top: 8px; }
.pagination a:first-child { margin-left: 0; }
.pagination a:hover, .pagination .current-menu-item { color: #7b4dfe; border-color: #7b4dfe; background: #fff; }
/*-----------------------------------*/
.sidebar aside { padding-top: 20px; width: 100%; overflow: hidden; }
.sidebar aside:first-child { padding-top: 0; }
.sidebar aside .aside-title { padding-bottom: 20px; font-size: 1.333em; line-height: 30px; }
/*-----------------------------------------------------------------*/
/*--- Form Styles ---*/
/*-----------------------------------------------------------------*/
form .select2-container--default { display: block; width: 100% !important; background: #fff;  border-radius: 5px; border: 2px solid #eeeeee; }
form .select2-container--default .select2-selection--single { outline: none; height: auto; display: block; background: transparent; border: 0; color: #263238; border-radius: 0; box-shadow: none; padding: 0; }
form .select2-container--default .select2-selection--single .select2-selection__rendered { transition: all 0.3s; display: block; line-height: 30px; font-size: 18px; color: #263238; padding: 6px 58px 10px 15px; margin: 0; }
form .select2-container--default .select2-selection--single .select2-selection__arrow { right: 0; top: 0; width: 48px; height: 100%; }
form .select2-container--default .select2-selection--single .select2-selection__arrow b { transition: all 0.3s; background: url(../images/icons/select-down.png) 15px 20px no-repeat;  width: 100%; height: 100%; border: 0; top: 0; left: 0; margin:0; }
form .select2-container--default .select2-selection--single:hover .select2-selection__rendered { color: #263238; }
form .select2-container--default .select2-selection--single:hover .select2-selection__arrow b { background: #eee url(../images/icons/select-down-hover.png) 15px 20px no-repeat; }
form .select2-container--default.select2-container--open { border-radius: 5px; }
form .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { transition: all 0.3s; background: url(../images/icons/select-up.png) 15px 20px no-repeat; }
form .select2-container--default.select2-container--open .select2-selection--single:hover .select2-selection__arrow b { background: #eee url(../images/icons/select-up-hover.png) 15px 20px no-repeat; }
.select2-container--default .select2-dropdown { background: #ffffff; border: 2px solid #eee; border-top: 0; border-radius: 0 0 5px 5px; box-shadow: none; margin: 0; }
.select2-container--default .select2-dropdown.select2-dropdown--above { border: 2px solid #eee; border-bottom: 0; border-radius: 5px 5px 0 0; }
.select2-container--default .select2-search { display: none; }
.select2-container--default .select2-results > .select2-results__options { margin: 0; padding: 0; max-height: 175px; }
.select2-container--default .select2-results li { padding: 2px 15px 3px; font-size: 18px; line-height: 30px; color: #263238; }
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected="true"] { transition: all 0.3s; background: #eeeeee; color: rgba(123, 77, 254, 1); }
.select2-container--default .select2-results__option[aria-disabled="true"] { color: #aaa; }
/*-----------------------------------*/
.form-row { width: 100%; overflow: hidden; }
.form-col { padding-top: 20px; }
.form-col:first-child { padding-top: 0; }
.form-action { padding-top: 50px; }
.form-action .btn-base-container { text-align: left; }
.form-action .btn-base-container .btn-base { margin-left: 30px; }
.form-action .btn-base-container .btn-base:first-child { margin-left: 0; }
.form-action .btn-base-container .btn-base i { padding-right: 10px; }
.form-action .btn-base-container .btn-base.confirm { border-color: #00c853; color: #00c853; }
.form-action .btn-base-container .btn-base.reject { border-color: #e91e63; color: #e91e63; }
.form-action .btn-base-container .btn-base:hover { color: #fff; }
.form-action .btn-base-container .btn-base.confirm:hover { background: #00c853; color: #fff; }
.form-action .btn-base-container .btn-base.reject:hover { background: #e91e63; color: #fff; }
/*-----------------------------------*/
form .radio-elem, form .check-elem { width: 100%; overflow: hidden; padding-top: 10px; }
form .radio-elem:first-child, form .check-elem:first-child { padding-top: 0; }
form .radio-elem label, form .check-elem label { float: left; padding-left: 10px; padding-top: 3px; margin-bottom: 3px; }
form .radio-elem .iradio, form .check-elem .icheckbox { float: left; }
form .check-elem label { width: 88%; }
/*-----------------------------------------------------------------*/
/*--- Categories Page---*/
/*-----------------------------------------------------------------*/
.categories-page .category-list { padding-top: 50px; }
.categories-page .category-list .category .item-icon { color: #bdbdbd; background: #fff; border-color: #eee; }
.categories-page .category-list .category.recreation .item-icon { color: #ffd54f; }
.categories-page .category-list .category.house .item-icon { color: #69f0ae; }
.categories-page .category-list .category.pets .item-icon { color: #f48fb1; }
.categories-page .category-list .category.cars .item-icon { color: #b388ff; }
.categories-page .category-list .category.medicine .item-icon { color: #90caf9; }
.categories-page .category-list .category.sport .item-icon { color: #d4e157; }
.categories-page .category-list .category .item-title { color: #263238; }
.categories-page .category-list .category:hover .item-icon { background: #bdbdbd; color: #fff; border-color: #fff;}
.categories-page .category-list .category.recreation:hover .item-icon { background: #ffd54f; color: #fff; }
.categories-page .category-list .category.house:hover .item-icon { background: #69f0ae; color: #fff; }
.categories-page .category-list .category.pets:hover .item-icon { background: #f48fb1; color: #fff; }
.categories-page .category-list .category.cars:hover .item-icon { background: #b388ff; color: #fff; }
.categories-page .category-list .category.medicine:hover .item-icon { background: #90caf9; color: #fff; }
.categories-page .category-list .category.sport:hover .item-icon { background: #d4e157; color: #fff; }
/*-----------------------------------------------------------------*/
/*--- Question Form ---*/
/*-----------------------------------------------------------------*/
.map { border: 2px solid #eee; border-radius: 5px; }
/*-----------------------------------------------------------------*/
/*--- Footer ---*/
/*-----------------------------------------------------------------*/
html, body { margin:0; padding:0; height:100%; }
#main { min-height:100%; position:relative; }
#main-content { padding-bottom:60px; }
footer { position:absolute; bottom:0; width:100%; height:60px; }
/*-----------------------------------*/
footer { background: #263238; color: #fff; font-size: 0.778em; line-height: 20px; }
footer .container { padding-top: 10px; padding-bottom: 10px; }
footer .copyright { padding-top: 10px; }
footer .nix-logo a { background: #fafafa; border-radius: 5px; padding: 5px; float: right; display: block; }
footer .nix-logo img { display: inline-block; }
